body{
    background-image: url(https://www.shutterstock.com/image-photo/dark-graphite-grey-abstract-textured-600nw-2186292063.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 40px;
}
